<div class="grid">
    <div class="col-12">
        <p-card header="Cadastrar Usuário">
            <form [formGroup]="usuarioForm" (ngSubmit)="salvar()" class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-6">
                    <label htmlFor="nome">Nome</label>
                    <input pInputText id="nome" type="text" formControlName="nome" placeholder="Nome completo" />
                    <small class="p-error" *ngIf="f['nome'].invalid && (f['nome'].dirty || f['nome'].touched)">
                        O nome é obrigatório.
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" placeholder="exemplo@email.com" />
                    <small class="p-error" *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)">
                        Email inválido ou obrigatório.
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="cpfCnpj">CPF/CNPJ</label>
                    <p-inputMask id="cpfCnpj" mask="999.999.999-99" formControlName="cpfCnpj"
                        placeholder="000.000.000-00"></p-inputMask>
                    <small class="p-error" *ngIf="f['cpfCnpj'].invalid && (f['cpfCnpj'].dirty || f['cpfCnpj'].touched)">
                        CPF/CNPJ é obrigatório.
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="telefone">Telefone</label>
                    <p-inputMask id="telefone" mask="(99) 99999-9999" formControlName="telefone"
                        placeholder="(00) 00000-0000"></p-inputMask>
                </div>


                <div class="field col-12 md:col-6">
                    <label htmlFor="senha">Senha</label>
                    <p-password id="senha" formControlName="senha" [toggleMask]="true" placeholder="Senha"></p-password>
                    <small class="p-error" *ngIf="f['senha'].invalid && (f['senha'].dirty || f['senha'].touched)">
                        A senha é obrigatória.
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="confirmacaoSenha">Confirmar Senha</label>
                    <p-password id="confirmacaoSenha" formControlName="confirmacaoSenha" [toggleMask]="true"
                        placeholder="Confirme a senha" [feedback]="false"></p-password>
                    <small class="p-error"
                        *ngIf="usuarioForm.hasError('senhasDiferentes') && (f['confirmacaoSenha'].dirty || f['confirmacaoSenha'].touched)">
                        As senhas não coincidem.
                    </small>
                </div>


                <div class="field col-12 md:col-6">
                    <label htmlFor="perfil">Cargo</label>
                    <p-dropdown [options]="perfis" formControlName="cargo"
                        placeholder="Selecione um cargo"></p-dropdown>
                    <small class="p-error" *ngIf="f['cargo'].invalid && (f['cargo'].dirty || f['cargo'].touched)">
                        O cargo é obrigatório.
                    </small>
                </div>

                <div class="field col-12 flex align-items-center gap-2 mt-3">
                    <label htmlFor="ativo" class="mb-0">Ativo</label>
                    <p-inputSwitch formControlName="ativo"></p-inputSwitch>
                </div>

                <div class="col-12 flex justify-content-end mt-4">
                    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-text mr-2"
                        routerLink="/usuarios/listar-usuarios"></button>
                    <button pButton type="submit" label="Salvar Usuário" icon="pi pi-check"
                        [disabled]="usuarioForm.invalid"></button>
                </div>

            </form>
        </p-card>
    </div>
</div>