.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem; /* Espaçamento entre o header e o próximo elemento */
  }
  
  .header-text {
    max-width: 70%;
  }
  
  .header-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
  }
  
  .header-description {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
  }
  
  .header-actions {
    display: flex;
    gap: 0.5rem;
  }
  