<div class="col-12 md:col-12">
    <h5>Endereço</h5>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="cep">CEP</label>
      <input pInputText id="cep" formControlName="cep" (blur)="buscarCep()" />
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="logradouro">Logradouro</label>
      <input pInputText id="logradouro" formControlName="logradouro" />
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="bairro">Bairro</label>
      <input pInputText id="bairro" formControlName="bairro" />
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="cidade">Cidade</label>
      <input pInputText id="cidade" formControlName="cidade" />
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="estado">Estado</label>
      <input pInputText id="estado" formControlName="estado" />
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="numero">Número</label>
      <input pInputText id="numero" formControlName="numero" />
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="field">
      <label for="complemento">Complemento</label>
      <input pInputText id="complemento" formControlName="complemento" />
    </div>
  </div>
  