<form>
    <div
        class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="card" style="border-radius:53px; padding: 4%;">
            <div class="flex flex-column align-items-center justify-content-center">

                <div class="cadastro-usuario">
                    <h2 class="text-center mb-3">Cadastrar</h2>
                    <form>
                        <div class="field">
                            <label for="nome" class="block text-900 text-xl font-medium mb-2">Nome</label>
                            <input id="nome" type="text" placeholder="Nome Completo" name="nome" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>

                        <div class="field">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <input id="email1" type="text" placeholder="Email" name="email" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>

                        <div class="field">
                            <label for="senha" class="block text-900 text-xl font-medium mb-2">Senha</label>
                            <input id="senha" type="text" placeholder="Senha" name="senha" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>
                        <div class="field">
                            <label for="confirmacao" class="block text-900 text-xl font-medium mb-2">Confirmar</label>
                            <input id="confirmacao" type="text" placeholder="Confirmação de Senha" name="confirmacao"
                                pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>

                        <button pButton type="button" label="Cadastrar" class="w-full p-button-success"
                            style="padding:1rem"></button>
                    </form>

                    <div class="social-login w-full md:w-30rem mt-5">
                        <h3 class="text-center mb-3">Ou cadastre-se com</h3>
                        <button pButton type="button" label="Google" icon="pi pi-google" class="w-full"
                            style="padding:1rem; background-color: #4285F4; color: white; border-color: #4285F4;"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>