<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Cadastro de Contrato</h5>
            <div class="p-fluid p-formgrid grid">

                <div class="field col-6">
                    <label htmlFor="nome">Nome do Contrato</label>
                    <input pInputText id="nome" type="text" [(ngModel)]="contrato.nome" placeholder="Ex: GE/4081"
                        required #nome="ngModel" />
                    <small class="p-error" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                        O nome do contrato é obrigatório.
                    </small>
                </div>

                <div class="field  col-6">
                    <label for="usuarios" class="block text-900 text-xl font-medium mb-2">Engenheiro Responsável</label>
                    <p-dropdown [options]="usuarios" [(ngModel)]="usuarioSelecionado" optionLabel="nome"
                        placeholder="Selecione um usuário">
                    </p-dropdown>
                </div>

                <div class="field col-12">
                    <label for="funcionarios" class="block text-900 text-xl font-medium mb-2">Funcionários</label>
                    <p-multiSelect [options]="funcionarios" [(ngModel)]="funcionariosSelecionados" optionLabel="nome"
                        defaultLabel="Selecione os funcionários" display="chip">
                    </p-multiSelect>
                </div>

                <div class="field col-12">
                    <label htmlFor="descricao">Descrição do Contrato</label>
                    <textarea id="descricao" pInputTextarea [(ngModel)]="contrato.descricao" required rows="3" cols="30"
                        placeholder="Descrição do Contrato" #descricao="ngModel">
                    </textarea>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="dataInicio">Data de Início</label>
                    <p-calendar id="dataInicio" [(ngModel)]="contrato.dataInicio" [showIcon]="true"
                        dateFormat="dd/mm/yy" placeholder="00/00/0000" required #dataInicio="ngModel">
                    </p-calendar>
                    <small class="p-error" *ngIf="dataInicio.invalid && (dataInicio.dirty || dataInicio.touched)">
                        A data de início é obrigatória.
                    </small>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="dataFim">Data de Fim</label>
                    <p-calendar id="dataFim" [(ngModel)]="contrato.dataFim" [showIcon]="true" dateFormat="dd/mm/yy"
                        placeholder="00/00/0000" required #dataFim="ngModel">
                    </p-calendar>
                    <small class="p-error" *ngIf="dataFim.invalid && (dataFim.dirty || dataFim.touched)">
                        A data de fim é obrigatória.
                    </small>
                </div>

                <div class="field col-12">
                    <label for="pickList">Ocorrências do Contrato</label>
                    <p-pickList [source]="ocorrencias" [target]="ocorrenciasTarget" sourceHeader="Disponíveis"
                        targetHeader="Selecionados" [dragdrop]="true" [responsive]="true"
                        [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px">

                        <ng-template let-item pTemplate="item">
                            <div class="flex flex-wrap p-2 align-items-center gap-3">
                                <div class="flex-1 flex flex-column gap-2">
                                    <span class="font-bold">{{ item.descricao }}</span>
                                    <div class="flex align-items-center gap-2">
                                        <i class="pi pi-tag text-sm"></i>
                                        <span>{{ item.valor | currency:'BRL' }}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                    </p-pickList>
                </div>

                <div class="col-12 flex justify-content-end mt-4">
                    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text mr-2"></button>
                    <button pButton label="Salvar Contrato" icon="pi pi-check" (click)="salvar()"></button>
                </div>

            </div>
        </div>
    </div>
</div>